POSTGRES_USER=yandex
POSTGRES_PASSWORD=password
POSTGRES_DB=metrics

KEY=key

# RSA encryption
KEYS_DIR=./keys # Путь к папке с ключами на хосте (маунтит как /keys в контейнерах)
# Пути внутри контейнера
SERVER_CRYPTO_KEY=/keys/private.pem
AGENT_CRYPTO_KEY=/keys/public.pem

# Agent worker pool size
RATE_LIMIT=5

# Audit
AUDIT_FILE=/data/audit.jsonl
AUDIT_URL=https://webhook.site/1f49b66d-8ccb-4dc5-abd4-d0ef8622a931